<%= div_for comment do %>
    <p>
    	<%#= comment.user.username %>
 
        <%#= time_ago_in_words(comment.created_at) %> <!-- not really necessary for comments -->
        <%= comment.user.username %>, <%= comment.body %><br/>
    </p>
<% end %>