<div class="container text-center">
	<h1>Contact Us</h1>
	<p>We'd Love to hear from you</p>
	<h5>Share your views with us</h5>
	<p>Nairobi County</p>
	<address>
		+254 706 321 919 | +254 700 829 490
	</address>
</div>

