// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
	background-image: url('roman.jpeg');
	background-size: cover;
	margin-top:-20px;
	height:650px;
}
.start{
	background-image: url('map-bg.png'); 
	background-size: cover;
}
