<h1>Members</h1>
<table>
	<thead>
		<th></th>
		<th>Username</th>
		<th>Email</th>
	</thead>
	<tbody>
	<% @users.each do |user| %>
		<tr>
	        <td><%= image_tag user.avatar.url(:medium) %></td>
	        <td><%= user.username %></td>
	        <td>ls <%= user.email %></td>
	    </tr>
	<% end %>
	</tbody>
</table>
