<div class="container">
	<h1>Members</h1>
	<table>
		<thead>
			<th></th>
			<th>Name</th>
			<th>Email</th>
			<th>Bio</th>
		</thead>
		<tbody>
		<% @users.each do |user| %>
			<tr>
		        <td><%= image_tag user.avatar.url(:medium) %></td>
		        <td><%= user.username %></td>
		        <td><%= user.email %></td>
		        <td><%=truncate(strip_tags(user.bio), length: 140) %></td>
		    </tr>
		<% end %>
		</tbody>
	</table>
</div>
